@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

/* variables */
:root {
    --primary-color: #9c00ff;
    --hover-color: #6900a9;
    --background-color-dark: #171717;
    --background-color-light: #ffffff;
    --box-shadow: 3px 3px 10px black;
    --border-radius-card: 10px;
    --background-color-card: #2f2f2f;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color-dark);
    color: white;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.button {
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 1.2rem;
}
.button:hover {
    color: white;
    border-bottom: none;
    background-color: var(--hover-color);
    transition: background-color 200ms;
}
p {
    color: #696969;
    font-size: 1.3rem;
    text-align: justify;
}
/* Title of ABOUT ME, KNOWLEDGE, FUTURE */
h2 {
    font-size: 4rem;
    margin-bottom: 70px;
    color: #ffffff;
    font-family: 'Baloo Da 2', cursive;
}

#message {
    color: white;
}

/* navigation bar */
.navigation {
    position: fixed;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: height;
}
.navbar {
    padding: 60px 400px 0 400px;
    transition: padding-top 400ms;
}
.navigation p {
    display: inline;
    font-size: 2.4em;
    color: white;
    font-weight: 600;
}
.navigation a {
    font-size: 1rem;
    text-decoration: none;
    float: right;
    justify-content: space-between;
    margin-left: 3.5rem;
    color: white;
    padding: 10px 15px 10px 15px;
}
.navigation a:hover {
    border-bottom: 2px solid var(--primary-color);
    transform: scale(1.05);
}
#contact {
    background-color: var(--primary-color);
    border-radius: 3px;
    border-bottom: none;
    color: white;
}
#contact:hover {
    color: white;
    border-bottom: none;
    background-color: var(--hover-color);
    transition: background-color 200ms;
}

.container {
    margin: 550px 400px 40px 400px;
}

/* Git etc */
.platform-list {
    background-color: #383838;
    position: absolute;
    width: 250px;
    height: 250px;
    right: 250px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    padding: 40px;
    font-size: 1.7rem;
    flex-wrap: wrap;
}
.platform-list::after {
    content: '';
    z-index: -1;
    background-color: currentColor;
    position: absolute;
    width: 320px;
    height: 320px;
    right: 200px;
    top: -20px;
    left: -20px;
    border-radius: 10px;
}
.platform-list > * {
    margin-top: 50px;
}


/* Start of Page */
.title {
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
}
.title > * {
    flex: 1 1 auto;
}
/* Hi. I'm Justin -> Text */
.title_sector h2 {
    font-size: 7rem;
    margin: 0;
}
.title_sector span {
    color: var(--primary-color);
}
.title_sector a {
    padding: 15px 20px 15px 20px;
}
.title_sector a:hover {
    padding: 17px 22px 17px 22px;
}
/* p Text */
#learning {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 80px;
}
.title_sector p {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 1rem;
}


/* About Me */
.about {
    padding-top: 25vh;
    padding-bottom: 25vh;
}
.about_sector_content {
    width: 60%;
}
.list {
    margin-top: 15px;
    display: inline-flex;
    flex-wrap: wrap;
}
.list li {
    justify-content: space-between;
    margin-right: 90px;
    font-size: 20px;
}

/* Knowledge */
.knowledge {
    padding-top: 25vh;
    padding-bottom: 25vh;
}
.knowledge_item {
    background-color: var(--background-color-card);
    width: 550px;
    padding: 30px;
    border-radius: var(--border-radius-card);
    box-shadow: 3px 3px 10px black;
    font-size: 2rem;
}
.knowledge_item ul {
    font-size: 16px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-card);
    padding: 10px;
    box-shadow: var(--box-shadow);
}
.knowledge_item ul:hover {
    transform: scale(1.03);
}
.knowledge_item .html {
    width: 90%;
}
.knowledge_item .css {
    width: 70%;
}
.knowledge_item .js {
    width: 27%;
}
.knowledge_item .mysql {
    width: 40%;
}
.knowledge_item .react {
    width: 35%;
}
.knowledge_grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Projects */
.projects {
    padding-top: 25vh;
    padding-bottom: 25vh;
}
.projects p {
    text-align: inherit;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: 150px;
    column-gap: 15px;
    row-gap: 15px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 203% 203%;
    grid-template-rows: 120px;
    column-gap: 15px;
    row-gap: 15px;
    text-align: center;
}
.item2 {
    padding-top: 40px;
    font-size: 30px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-card);
    box-shadow: 3px 3px 10px black;
}
.item {
    padding: 15px;
    background-color: var(--background-color-card);
    border-radius: var(--border-radius-card);
    font-size: 25px;
    text-align: inherit;
    box-shadow: 3px 3px 10px black;
}

/* Contact Me */
.contact {
    padding-top: 25vh;
}
.contact_sector {
    padding: 2% 10% 2% 10%;
    background-color: var(--background-color-card);
    text-align: center;
    position: absolute;
    left: 0;
    width: 80%;
    box-shadow: var(--box-shadow);
}
.mail {
    display: inline-flex;
    cursor: pointer;
    margin-top: 25px;
}
.mail:hover {
    transform: scale(1.05);
    color: var(--primary-color)
}
.mail h3 {
    margin-left: 15px;
    margin-top: 13px;
}

/* Copyright Footer */
footer {
    position: relative;
    margin-top: 500px;
}
footer p {
    text-align: center;
}

.word-underline {
    border-bottom: 10px solid var(--primary-color);
}


.light-mode {
    background-color: var(--background-color-light);
}
.light-mode h2 {
    color: #1c1c1c;
}
.light-mode .navbar a {
    color: black;
}
.light-mode .isScrolledContent a {
    color: white;
}
.light-mode .contact_sector h2 {
    color: #ffffff;
}
.light-mode .navigation p {
    color: black;
}
.light-mode .isScrolledContent p {
    color: white;
}
.light-mode #message {
    color: black;
}
.light-mode .list li {
    color: black;
}


.dark-mode, .dark-mode img {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    box-shadow: none;
}
.dark-mode img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Navigation onScroll */
.isScrolled {
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background-color: #000000;
    box-shadow: 0 0 5px black;
    transition: height,background-color 400ms;
}
.isScrolledContent {
    padding-top: 30px;
    transition: padding-top 400ms;
}

@media screen and (max-width: 2400px) {
    p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    .container {
        margin: 230px 100px 25px 100px;
    }
    .navbar {
        padding: 80px 100px 0 100px;
        transition: padding-top 400ms;
    }
    .isScrolledContent {
        padding-top: 30px;
        transition: padding-top 400ms;
    }
    .navigation {
        height: 80px;
    }
    .navbar {
        padding-top: 22px;
    }
    .grid-container2 {
        display: none;
    }
}

@media  screen and (max-width: 1150px) {
    .navbar a {
        display: none;
    }
    .platform-list {
        display: none;
    }

}

/* CSS for Handy's upto 700px width */
@media screen and (max-width: 700px) {
    .container {
        margin: 150px 10px 40px 10px
    }
    .title_sector h2 {
        font-size: 4rem;
    }
    .navbar a {
        display: none;
    }
    .navbar {
        padding-left: 20px;
    }
    .grid-container {
        grid-template-columns: 145%;
    }
    h2 {
        font-size: 40px;
    }
    .title_sector p {
    width: 100%;
    }
    .about_sector_content {
        margin: 0;
        width: 100%;
    }
    #learning {
        font-size: 20px;
        width: 100%;
    }
    .navigation {
        height: 4rem;
        font-size: 0.6rem;
    }
    .navbar {
        display: none;
        transition: all 400ms;
    }
    .isScrolledContent {
        display: block;
        transition: all 400ms;
    }
    .knowledge_item ul {
        font-size: 14px;
    }
    .platform-list {
        display: none;
    }
    .item {
        width: 63%;
    }
    p {
        text-align: inherit;
    }
    footer {
       margin-top: 350px;
    }
    .contact_sector h2 {
        margin: 20px 0 20px 0;
    }
    .mail {
        margin-top: 10px;
    }
}
